.App {
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* .category-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */

/* .category-item {
    width: 100%;
    max-width: 700px;
    margin-bottom: 20px;
} */

/* .category-list button {
    padding: 10px 20px;
    background-color: #eba858f5;
    color: black;
    border: none;
    cursor: pointer;
    font-family: auto;
    font-size: 30px;
    text-transform: uppercase;
    width: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .category-list button.active {
    background-color: #fabe75f5;
}

.category-list button:hover {
    background-color: #d38b34f5;
} */

/* .book-list {
    margin: 20px 0px;
} */

/* .book-list h2,
h1 {
    margin-bottom: 10px;
    text-align: center;
    color : black;
} */

/* .book-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
} */

/* .book-list ul li {
    padding: 10px 20px;
    background-color: #fec98af5;
    border: none;
    cursor: pointer;
    font-family: auto;
    font-size: 25px;
    text-transform: uppercase;
    width: 100%;
    border-radius: 35px;
    margin: 5px 8px;
    text-align: center;
} */

/* .book-list ul li a {
    text-decoration: none;
    color: black;
} */

/* .book-list ul li:hover {
    background-color: #fdd2a1f5;
} */

/* .button-add {
    font-weight: 700;
} */

@media (max-width: 767px) {
    .category-list button {
        font-size: 16px;
    }
    .book-list ul li {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .category-list button {
        font-size: 20px;
    }
    .book-list ul li {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .category-list button {
        font-size: 22px;
    }
    .book-list ul li {
        font-size: 20px;
    }
}