.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 2rem;
    background: linear-gradient(to bottom, rgb(245, 113, 57), rgb(243, 177, 24));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-bg {
    background: linear-gradient(to bottom, rgb(245, 113, 57), rgb(243, 177, 24));
}

.other-bg {
    background-color: black;
}

.logo-container {
    flex: 0 0 auto;
    margin-right: 10rem;
}

.logo-link {
    display: inline-block;
}

.logo {
    max-height: 95px;
    width: auto;
}

.nav-container {
    display: flex;
    gap: 5rem;
}

.navs-link {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.navs-link i {
    font-size: 1.5rem;
}

.navs-link:hover {
    color: #007bff;
}

.navs-link.active {
    background-color: black;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-container {
        flex-direction: column;
        gap: 1rem;
    }
}